.payment-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
}

.message {
  font-size: 1.1rem;
  font-weight: 500;
}
